/* navbar container (grid template) */
.navbar-container{
	top: 0px;
	position: sticky;
	
	display: grid;
	grid-template-columns: 30% 70%;
	align-items: center;
	
	background-color: var(--navbar-background);
	border: solid;
	border-width: 0 0 1px 0;
	border-color: rgba(20,20,20,.5);
}

/* navbar content containers */
.navbar-name{
	display: flex;
	padding: 1rem 2rem 1rem 2rem;
	margin: 0;
}
.navbar-links{
	display: grid;
	grid-template-columns: 20% 20% 20%;
	justify-content: end;

	margin: 0;
	padding: 0;
}

/* link styling */
.navbar-link{
	padding: 1.6em 2em 1.6em 2em;
}
.navbar-link:hover{
	background-color: var(--navbar-background-hover);
}
.navbar-link a{
	text-decoration: none;
}

/* footer container (grid template) */


/* media queries */