/* navbar container (grid template) */
.navbar-container{
	position: sticky;
	top: 0px;
	display: grid;
	grid-template-columns: 25% 75%;
	align-content: center;

	background-color: rgba(255,0,0,.3);
}

/* navbar content containers */
.navbar-name{
	display: flex;
	padding: 1rem 2rem 1rem 2rem;
	margin: 0;
}
.navbar-links{
	display: grid;
	justify-content: end;
	margin: 0;
	padding: 0;
}
.navbar-container ul{
	display: flex;
}


/* link styling */
.navbar-links li{
	list-style: none;
	display: grid;
	align-content: center;
	justify-items: stretch;

	padding: 1rem 2rem 1rem 2rem;
}
.navbar-links li a{
	text-decoration: none;
}

/* footer container (grid template) */


/* media queries */